@tailwind base;
@tailwind components;
@tailwind utilities;

.outline-text {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-stroke-width: 1px;
  text-stroke-color: black;
}
